.window {
  background-color: rgb(8, 76, 0);
  position: fixed;
  width: 100vw;
  height: 100vh;
}
h1 {
  margin: 0;
}

.red-border {
  border: 2px solid red !important;
  transform: scale(102%) translateY(7px);
}